{% extends 'base.html.twig' %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{asset("css/form.css")}}">
{% endblock %}

{% block title %}Ajout/modification DVD
{% endblock %}

{% block body %}
	{# NAVBAR #}
	<nav class="navbar navbar-expand-lg navbar-light">
		<div class="container-fluid">
			<a class="navbar-brand" href="{{ path('dvds_admin') }}">ADMIN</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNavAltMarkup">
				<div class="navbar-nav">
					<a class="nav-link active" aria-current="page" href="{{ path('app_logout') }}">Déconnexion</a>
				</div>
			</div>
		</div>
	</nav>
	{# CONTAINER #}
	<div class="container d-flex justify-content-center" id='addContainer'>
		<div class='row' id='addRow'>
			{{form(form, { 'attr': {novalidate: 'novalidate'}})}}
			</div>
		</div>
	{% endblock %}
